<!DOCTYPE html>
<html>
<head>
	<% include templates/styles.ejs %>
	<title><%= title %></title>
</head>
<body>

	<div class="container">
		<% include templates/header.ejs %>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">

				<h3>Matrix</h3>

				<p>Matrix is the student body of the department of Mathematics, IIT Guwahati. It was founded in 2008 with the aim to develop dynamic individuals ready to take on challenges of professional life. Our mission is to provide exposure for applying the mathematics and computing knowledge to solve the real life technical problems by organizing lectures, seminars and workshops on topics of general interest and special lectures on specific topics of interest.</p>

				<h3>About the Department</h3>

				<p>The Department of Mathematics at IIT Guwahati, since its very inception in 1995, has strived to be a centre of excellence in mathematics and computing, and it has been vigorously engaged in research, teaching and training.</p>

				<p>The department has at present 33 energetic and dedicated faculty members in many diverse areas of mathematics, and it also boasts of hosting visits of a good number of distinguished mathematicians every year. The department has its own state-of-the-art computing laboratories and it also hosts the National Board of Higher Mathematics (NBHM) Regional Library. The department has also been actively engaged in organizing conferences, workshops, QIP short term courses and training programmes for both teachers and students including Mathematics Training and Talent Search Programme (MTTS) and Advanced Training in Mathematics (ATM) Schools.</p>

			</div>

			<div class="col-sm-2"></div>
		</div>
	</div>

</body>
</html>
