<h2 align="center"><font face="times new roman" color="black"><strong>MATRIX - IIT GUWAHATI</strong></font></h2>


<ul class="nav nav-pills">
	<li><a href="/">Home</a></li>
	<li><a href="/activities">Activities</a></li>
	<li><a href="/news">News</a></li>
	<li><a href="/team">The Team </a></li>
</ul>
